
header {
  text-align: center;
  background: purple;
  color: white;
  padding: 30px 20px;
}

.header { 
  background-color: purple; 
  color: white; 
  padding: 30px; 
  text-align: center; 
} 

  
.navbar { 
  overflow: hidden; 
  background-color: purple; 
  text-align: center; 
} 
  
.navbar a { 
  display: inline-block; 
  color: black; 
  text-decoration: none; 
  padding: 10px 20px; 
  margin: 2px; 
  background-color: white; 
  border-radius: 5px; 
} 
  
.navbar a:hover { 
  background-color: purple; 
  color: white; 
} 
.navbar a.active {
  background-color: blue; 
  color: white;          
  border-radius: 5px;     
}

  
table { 
  width: 70%; 
  margin: 20px auto; 
  border-collapse: collapse; 
  text-align: center; 
} 
  
th, td { 
  border: 1px solid black; 
  padding: 8px; 
} 
  
th { 
  background: purple; 
  color: white; 
} 
  
tbody tr:nth-child(even) { 
  background: #f0f0f0; 
} 
  
.highlight-row { 
  background: yellow; 
} 
  
#form-heading { 
  text-align: center; 
  margin-top: 30px; 
  color: black; 
} 
  
.feedback-form { 
  width: 300px; 
  margin: 20px auto; 
  padding: 15px; 
  border: 1px solid #ccc; 
  background: #f9f9f9; 
} 
  
.feedback-form label { 
  display: inline-flex ; 
  align-items: center;
  margin-top: 10px; 
  font-weight: bold; 
} 
  
.feedback-form input,

.feedback-form select, 
.feedback-form textarea { 
  width: 100%; 
  margin-top: 5px; 
  padding: 5px; 
  border: 1px solid #ccc; 
} 
  
.feedback-form button { 
  margin-top: 10px; 
  width: 100%; 
  padding: 8px; 
  background: purple; 
  color: white; 
  border: none; 
} 